In [61]:
import numpy as np
import pandas as pd

import seaborn as sns
import matplotlib.pyplot as plt

In [62]:
data = pd.read_csv('uber.csv', low_memory=False, index_col=0)

In [63]:
data

,key,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
24238194,2015-05-07 19:52:06.0000003,7.5,2015-05-07 19:52:06 UTC,-73.999817,40.738354,-73.999512,40.723217,1
27835199,2009-07-17 20:04:56.0000002,7.7,2009-07-17 20:04:56 UTC,-73.994355,40.728225,-73.994710,40.750325,1
44984355,2009-08-24 21:45:00.00000061,12.9,2009-08-24 21:45:00 UTC,-74.005043,40.740770,-73.962565,40.772647,1
25894730,2009-06-26 08:22:21.0000001,5.3,2009-06-26 08:22:21 UTC,-73.976124,40.790844,-73.965316,40.803349,3
17610152,2014-08-28 17:47:00.000000188,16.0,2014-08-28 17:47:00 UTC,-73.925023,40.744085,-73.973082,40.761247,5
...,...,...,...,...,...,...,...,...
42598914,2012-10-28 10:49:00.00000053,3.0,2012-10-28 10:49:00 UTC,-73.987042,40.739367,-73.986525,40.740297,1
16382965,2014-03-14 01:09:00.0000008,7.5,2014-03-14 01:09:00 UTC,-73.984722,40.736837,-74.006672,40.739620,1
27804658,2009-06-29 00:42:00.00000078,30.9,2009-06-29 00:42:00 UTC,-73.986017,40.756487,-73.858957,40.692588,2
20259894,2015-05-20 14:56:25.0000004,14.5,2015-05-20 14:56:25 UTC,-73.997124,40.725452,-73.983215,40.695415,1
11951496,2010-05-15 04:08:00.00000076,14.1,2010-05-15 04:08:00 UTC,-73.984395,40.720077,-73.985508,40.768793,1

# Data Preprocessing

In [64]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 200000 entries, 24238194 to 11951496
Data columns (total 8 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   key                200000 non-null  object
 1   fare_amount        200000 non-null  float64
 2   pickup_datetime    200000 non-null  object
 3   pickup_longitude   200000 non-null  float64
 4   pickup_latitude    200000 non-null  float64
 5   dropoff_longitude  199999 non-null  float64
 6   dropoff_latitude   199999 non-null  float64
 7   passenger_count    200000 non-null  int64
dtypes: float64(5), int64(1), object(2)
memory usage: 13.7+ MB

In [65]:
data.dropna(inplace=True)

In [66]:
data.describe()

,fare_amount,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
count,199999.000000,199999.000000,199999.000000,199999.000000,199999.000000,199999.000000
mean,11.359892,-72.527631,39.935881,-72.525292,39.923890,1.684543
std,9.901760,11.437815,7.720558,13.117408,6.794829,1.385995
min,-52.000000,-1340.648410,-74.015515,-3356.666300,-881.985513,0.000000
25%,6.000000,-73.992065,40.734796,-73.991407,40.733823,1.000000
50%,8.500000,-73.981823,40.752592,-73.980093,40.753042,1.000000
75%,12.500000,-73.967154,40.767158,-73.963658,40.768001,2.000000
max,499.000000,57.418457,1644.421482,1153.572603,872.697628,208.000000

# IQR
### IQR = Q3 -Q1
### Min = Q1 - 1.5 X IQR

In [67]:
Q1 = data['pickup_longitude'].quantile(0.25)
Q3 = data['pickup_longitude'].quantile(0.75)
IQR = Q3 - Q1

Min = Q1 - 1.5 * IQR
Max = Q3 + 1.5 * IQR

In [68]:
print('Max = ', Max)
print('Max = ', Min)

Max =  -73.92978750000003
Max =  -74.02943149999999

In [69]:
data[(data['pickup_longitude'] < Min) | (data['pickup_longitude'] > Max)].shape[0]/data.shape[0]

0.06779533897669489

# Z score

In [70]:
mu = data['pickup_longitude'].mean()
std = data['pickup_longitude'].std()

z = np.abs(data['pickup_longitude'] - mu)

print(data[z>3].shape[0]/data.shape[0]*100)

data = data[z<=3]
data

1.9710098550492752

,key,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
24238194,2015-05-07 19:52:06.0000003,7.5,2015-05-07 19:52:06 UTC,-73.999817,40.738354,-73.999512,40.723217,1
27835199,2009-07-17 20:04:56.0000002,7.7,2009-07-17 20:04:56 UTC,-73.994355,40.728225,-73.994710,40.750325,1
44984355,2009-08-24 21:45:00.00000061,12.9,2009-08-24 21:45:00 UTC,-74.005043,40.740770,-73.962565,40.772647,1
25894730,2009-06-26 08:22:21.0000001,5.3,2009-06-26 08:22:21 UTC,-73.976124,40.790844,-73.965316,40.803349,3
17610152,2014-08-28 17:47:00.000000188,16.0,2014-08-28 17:47:00 UTC,-73.925023,40.744085,-73.973082,40.761247,5
...,...,...,...,...,...,...,...,...
42598914,2012-10-28 10:49:00.00000053,3.0,2012-10-28 10:49:00 UTC,-73.987042,40.739367,-73.986525,40.740297,1
16382965,2014-03-14 01:09:00.0000008,7.5,2014-03-14 01:09:00 UTC,-73.984722,40.736837,-74.006672,40.739620,1
27804658,2009-06-29 00:42:00.00000078,30.9,2009-06-29 00:42:00 UTC,-73.986017,40.756487,-73.858957,40.692588,2
20259894,2015-05-20 14:56:25.0000004,14.5,2015-05-20 14:56:25 UTC,-73.997124,40.725452,-73.983215,40.695415,1
11951496,2010-05-15 04:08:00.00000076,14.1,2010-05-15 04:08:00 UTC,-73.984395,40.720077,-73.985508,40.768793,1

In [71]:
mu = data['pickup_latitude'].mean()
std = data['pickup_latitude'].std()

z = np.abs(data['pickup_latitude'] - mu)

print(data[z>3].shape[0]/data.shape[0]*100)

data = data[z<=3]
data

0.005100557490933758

,key,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
24238194,2015-05-07 19:52:06.0000003,7.5,2015-05-07 19:52:06 UTC,-73.999817,40.738354,-73.999512,40.723217,1
27835199,2009-07-17 20:04:56.0000002,7.7,2009-07-17 20:04:56 UTC,-73.994355,40.728225,-73.994710,40.750325,1
44984355,2009-08-24 21:45:00.00000061,12.9,2009-08-24 21:45:00 UTC,-74.005043,40.740770,-73.962565,40.772647,1
25894730,2009-06-26 08:22:21.0000001,5.3,2009-06-26 08:22:21 UTC,-73.976124,40.790844,-73.965316,40.803349,3
17610152,2014-08-28 17:47:00.000000188,16.0,2014-08-28 17:47:00 UTC,-73.925023,40.744085,-73.973082,40.761247,5
...,...,...,...,...,...,...,...,...
42598914,2012-10-28 10:49:00.00000053,3.0,2012-10-28 10:49:00 UTC,-73.987042,40.739367,-73.986525,40.740297,1
16382965,2014-03-14 01:09:00.0000008,7.5,2014-03-14 01:09:00 UTC,-73.984722,40.736837,-74.006672,40.739620,1
27804658,2009-06-29 00:42:00.00000078,30.9,2009-06-29 00:42:00 UTC,-73.986017,40.756487,-73.858957,40.692588,2
20259894,2015-05-20 14:56:25.0000004,14.5,2015-05-20 14:56:25 UTC,-73.997124,40.725452,-73.983215,40.695415,1
11951496,2010-05-15 04:08:00.00000076,14.1,2010-05-15 04:08:00 UTC,-73.984395,40.720077,-73.985508,40.768793,1

In [72]:
mu = data['dropoff_longitude'].mean()
std = data['dropoff_longitude'].std()

z = np.abs(data['dropoff_longitude'] - mu)

print(data[z>3].shape[0]/data.shape[0]*100)

data = data[z<=3]
data

0.09589537202813611

,key,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
24238194,2015-05-07 19:52:06.0000003,7.5,2015-05-07 19:52:06 UTC,-73.999817,40.738354,-73.999512,40.723217,1
27835199,2009-07-17 20:04:56.0000002,7.7,2009-07-17 20:04:56 UTC,-73.994355,40.728225,-73.994710,40.750325,1
44984355,2009-08-24 21:45:00.00000061,12.9,2009-08-24 21:45:00 UTC,-74.005043,40.740770,-73.962565,40.772647,1
25894730,2009-06-26 08:22:21.0000001,5.3,2009-06-26 08:22:21 UTC,-73.976124,40.790844,-73.965316,40.803349,3
17610152,2014-08-28 17:47:00.000000188,16.0,2014-08-28 17:47:00 UTC,-73.925023,40.744085,-73.973082,40.761247,5
...,...,...,...,...,...,...,...,...
42598914,2012-10-28 10:49:00.00000053,3.0,2012-10-28 10:49:00 UTC,-73.987042,40.739367,-73.986525,40.740297,1
16382965,2014-03-14 01:09:00.0000008,7.5,2014-03-14 01:09:00 UTC,-73.984722,40.736837,-74.006672,40.739620,1
27804658,2009-06-29 00:42:00.00000078,30.9,2009-06-29 00:42:00 UTC,-73.986017,40.756487,-73.858957,40.692588,2
20259894,2015-05-20 14:56:25.0000004,14.5,2015-05-20 14:56:25 UTC,-73.997124,40.725452,-73.983215,40.695415,1
11951496,2010-05-15 04:08:00.00000076,14.1,2010-05-15 04:08:00 UTC,-73.984395,40.720077,-73.985508,40.768793,1

In [73]:
mu = data['dropoff_latitude'].mean()
std = data['dropoff_latitude'].std()

z = np.abs(data['dropoff_latitude'] - mu)

print(data[z>3].shape[0]/data.shape[0]*100)

data = data[z<=3]
data

0.004595142423886572

,key,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
24238194,2015-05-07 19:52:06.0000003,7.5,2015-05-07 19:52:06 UTC,-73.999817,40.738354,-73.999512,40.723217,1
27835199,2009-07-17 20:04:56.0000002,7.7,2009-07-17 20:04:56 UTC,-73.994355,40.728225,-73.994710,40.750325,1
44984355,2009-08-24 21:45:00.00000061,12.9,2009-08-24 21:45:00 UTC,-74.005043,40.740770,-73.962565,40.772647,1
25894730,2009-06-26 08:22:21.0000001,5.3,2009-06-26 08:22:21 UTC,-73.976124,40.790844,-73.965316,40.803349,3
17610152,2014-08-28 17:47:00.000000188,16.0,2014-08-28 17:47:00 UTC,-73.925023,40.744085,-73.973082,40.761247,5
...,...,...,...,...,...,...,...,...
42598914,2012-10-28 10:49:00.00000053,3.0,2012-10-28 10:49:00 UTC,-73.987042,40.739367,-73.986525,40.740297,1
16382965,2014-03-14 01:09:00.0000008,7.5,2014-03-14 01:09:00 UTC,-73.984722,40.736837,-74.006672,40.739620,1
27804658,2009-06-29 00:42:00.00000078,30.9,2009-06-29 00:42:00 UTC,-73.986017,40.756487,-73.858957,40.692588,2
20259894,2015-05-20 14:56:25.0000004,14.5,2015-05-20 14:56:25 UTC,-73.997124,40.725452,-73.983215,40.695415,1
11951496,2010-05-15 04:08:00.00000076,14.1,2010-05-15 04:08:00 UTC,-73.984395,40.720077,-73.985508,40.768793,1

In [74]:
data.reset_index(drop=True, inplace=True)

In [75]:
data.describe()

,fare_amount,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
count,195850.000000,195850.000000,195850.000000,195850.000000,195850.000000,195850.000000
mean,11.341925,-73.975154,40.750908,-73.974189,40.751177,1.684825
std,9.798707,0.041479,0.032476,0.041409,0.036500,1.387662
min,-52.000000,-75.426904,39.514527,-75.458979,39.514527,0.000000
25%,6.000000,-73.992273,40.736448,-73.991597,40.735323,1.000000
50%,8.500000,-73.982108,40.753308,-73.980537,40.753748,1.000000
75%,12.500000,-73.968355,40.767550,-73.965373,40.768335,2.000000
max,499.000000,-71.004193,42.478467,-71.004193,42.464187,208.000000

In [76]:
data.shape[0]

195850

In [78]:
from geopy.distance import geodesic

In [79]:
Distance = []

for i in range(data.shape[0]):
    start = (data.loc[i, 'pickup_latitude'], data.loc[i, 'pickup_longitude'])
    dest = (data.loc[i, 'dropoff_latitude'], data.loc[i, 'dropoff_longitude'])
    Distance.append(geodesic(start, dest).kilometers)

In [80]:
df = {'distance': Distance,
           'n_passenger': data['passenger_count'].values,
           'fare': data['fare_amount'].values}

In [84]:
df

{'distance': [1.6811107421764293,
  2.4543632395347106,
  5.039602684044266,
  1.6614415240630966,
  4.483730087177181,
  0.0,
  11.73466714708299,
  2.33855965755225,
  4.891121357057089,
  2.2503607684447413,
  0.30187973981063815,
  3.579381355684481,
  1.3087360846158802,
  1.7190123091411413,
  0.7312133686589251,
  2.5210933890913685,
  1.7901528525644335,
  1.0345529350832423,
  2.493014083354037,
  0.9583104783394542,
  1.259752705953191,
  1.7500684549215246,
  6.190482758821909,
  2.733597059871603,
  0.7223132575720504,
  3.225516110805604,
  1.4302720789145387,
  2.23913351743337,
  13.040416375766188,
  1.8961713063881787,
  1.9097003504477117,
  3.180891779182723,
  11.355487331684865,
  2.9275620507531435,
  1.2007675423315685,
  2.6359329726661773,
  2.252064373503419,
  9.96792629234231,
  4.820210689614793,
  1.2498441727246834,
  0.8004236940701086,
  0.8398440040908891,
  0.38528358001204277,
  2.4316604878437453,
  3.134738815090711,
  3.7299542000993378,
  0.0,
  4.502714712219673,
  1.5572732489685372,
  4.9167607104876305,
  7.679301407751863,
  1.8206746866620895,
  4.519023911814661,
  4.069825660504849,
  1.1773046244012015,
  1.2941361683244288,
  1.2140509936553099,
  0.8719273834763668,
  2.1059366314756733,
  5.899722751237721,
  0.6858826594632925,
  5.627263821464357,
  0.7540663264325959,
  1.0342985376703562,
  5.844149734622488,
  3.0944230164020823,
  2.068899553059454,
  1.5111035890381375,
  3.3169667726919663,
  0.5108886278404099,
  1.9047898135230874,
  6.147932921303674,
  6.101436042778032,
  1.954747253558294,
  4.578099228128657,
  4.243139110114278,
  0.906408907501929,
  2.504656205561494,
  0.4191688251265065,
  15.890261541661166,
  4.739689570878748,
  0.0,
  2.9503703311534055,
  1.2984751136023396,
  6.899184905858054,
  1.808859170691473,
  1.3550977296254219,
  1.3985704045060166,
  1.0879600734041464,
  1.2554992872388648,
  1.231738279322961,
  2.1804202871219918,
  0.5928097473821232,
  0.7070772099777709,
  11.122869653744841,
  5.5293659002850255,
  2.018053280833643,
  0.5730717661764365,
  0.4937712388431279,
  2.7976791083863572,
  11.905095837101797,
  2.1492743456723122,
  0.986715552337975,
  1.7036281826187416,
  0.6327531905077431,
  2.518267651011496,
  5.553805615198345,
  1.289746189379956,
  2.205593437164661,
  16.067074255254585,
  1.3617268555930557,
  0.8335206882933544,
  2.3369654480581397,
  1.7627989945076288,
  3.208690516305744,
  1.9481331110342075,
  2.4049779242553537,
  1.4712311264210653,
  1.971742789644473,
  3.735790592412978,
  2.1784918882658246,
  1.2201651685781745,
  1.1556380303114588,
  2.1207602756192183,
  3.576430167193716,
  1.566081682939485,
  1.0109837404486874,
  3.51255077295007,
  1.7852863113463187,
  3.666728285137455,
  3.7726773344529656,
  5.064933611985327,
  2.730083818232004,
  4.711442606559593,
  2.182523511622308,
  1.7129781183866337,
  1.193245185294163,
  1.6415368837573692,
  3.0761218493316442,
  9.947685953873778,
  1.3722906918399875,
  3.482156014034222,
  1.0173293466908608,
  3.607466519768437,
  7.2308570294141035,
  0.9198373843395828,
  3.5841168207919236,
  3.442422974970095,
  0.678522668364377,
  1.1653838600383841,
  0.8477019823544775,
  1.48506722371658,
  0.5800567856583403,
  1.4808238146607928,
  0.9050205986663765,
  2.6231507871473907,
  9.38445524763088,
  1.5224195276788328,
  1.899305894457421,
  3.075352082535342,
  0.0,
  1.0660145713239977,
  3.9037599503711093,
  1.324867063312176,
  1.4260206264068283,
  2.3213943772956096,
  1.6640818439608398,
  2.3338393021360373,
  3.6216220016483014,
  2.951838134461354,
  1.057304238401434,
  5.25606775842466,
  0.9541853838129023,
  2.62414495215432,
  3.658260952183481,
  5.737418911194231,
  1.4128434035062454,
  2.376586122814817,
  0.7477411643313527,
  2.035909247540945,
  4.449318226199909,
  6.258356188395152,
  6.098431099890427,
  1.135216631263569,
  0.4444905283685236,
  8.2993171255517,
  2.9975778168557614,
  1.6888814361017774,
  3.423371095086629,
  13.943326290008885,
  3.237097344441565,
  1.3171515513034353,
  6.323828019935116,
  1.4066314023733633,
  1.8234542873597748,
  8.711133676640136,
  1.152574930416787,
  20.09016390044299,
  9.510245774543348,
  1.802738654301782,
  0.26325820027599917,
  1.0861553379808602,
  1.132692888262127,
  3.063375550142991,
  0.8451733379373555,
  2.4542268005021266,
  1.9477127638466865,
  7.768237933033931,
  0.7564650736051574,
  6.337820839147065,
  1.750423035852181,
  4.613409403009513,
  1.755493830547083,
  1.9045926214578157,
  5.090116281574262,
  6.883301377691816,
  10.071480632476298,
  0.8707528117247755,
  4.940639765033372,
  18.2421182179668,
  0.8801920964090061,
  1.4125748433353846,
  2.11685079925297,
  2.395968311779077,
  1.4287853247855233,
  1.2722346972930412,
  3.072213793509655,
  0.7774081361374137,
  4.523772378047873,
  1.8310670245347487,
  0.5887831105787533,
  2.2667293187021067,
  6.105551210583735,
  1.833335466486901,
  1.0338495848713547,
  3.2922849567083765,
  2.5277149900553395,
  2.8217625031662443,
  5.149211181611997,
  1.0505657058761462,
  0.9383337845079031,
  4.005962820981651,
  3.403346547115244,
  0.9062164329500316,
  3.1932124377607254,
  1.8560706439698287,
  1.7844952547197024,
  3.2863410333487213,
  1.1100387194736132,
  1.530079271224246,
  5.671862487584265,
  2.0624601070295676,
  2.965873219026317,
  1.377724186841677,
  1.485805784175205,
  2.613147262074462,
  5.308713093757708,
  2.053008552319102,
  2.9119851165260973,
  2.28373827476449,
  6.85311609976285,
  1.132744891228661,
  3.8931451020132752,
  1.3469862659481993,
  1.8774635534227009,
  2.7115802635293473,
  2.8485905424516127,
  0.7501514445839249,
  7.815515308191096,
  0.8217900868484816,
  0.638806237408014,
  6.012353740475336,
  1.0730606518193833,
  1.2690839851529119,
  2.9717847264081523,
  3.0115194454166376,
  6.830040407328915,
  2.3117960173024934,
  2.615607020806633,
  3.8600970043796896,
  0.8393780914458766,
  2.230149881119602,
  6.86296435439403,
  2.1715016609337985,
  2.2572889471603705,
  2.0669922730908166,
  0.4532345781394799,
  5.193216703021619,
  2.048231846430142,
  0.7903808184547017,
  5.626937953398707,
  1.737835949514272,
  2.9277690020774894,
  5.848976404147696,
  1.6980995622394648,
  0.8177472152232458,
  1.5617857229160623,
  1.9959528496936891,
  1.8738375532441542,
  10.884971561739722,
  0.7432682916633208,
  2.224705889360505,
  9.947541489337443,
  1.2484806096192926,
  2.7041819024029703,
  2.1622875790259526,
  2.0347815760405483,
  18.99193437329813,
  1.6812825661746085,
  0.7743464769907701,
  6.597210483569885,
  2.7926169305791633,
  0.11648430920149683,
  7.981369770656248,
  1.5009304177588636,
  1.1390446072071676,
  1.766411518137291,
  4.040724586588174,
  6.105237427946471,
  4.25130729684224,
  5.327425370881949,
  4.288508111072826,
  2.430651169960878,
  6.169406383860063,
  4.956630338805345,
  3.1492062374579173,
  0.8865420692399079,
  2.1012031866487844,
  0.7020295625243523,
  3.6017519910677676,
  17.189497072724627,
  1.7763861103648488,
  2.8991786195465754,
  0.7132707290834277,
  0.6322001276528098,
  5.46316815576537,
  1.7760989713950568,
  0.8499170835170358,
  8.338688401292734,
  1.3804473465726108,
  2.0087187929044337,
  2.8042743101154826,
  1.279912122827687,
  1.638442630408002,
  1.1705494261276472,
  4.17070938417123,
  2.1683123314927495,
  0.7351504656999029,
  1.6766605476296625,
  1.8517208731206947,
  3.4216197963490087,
  0.0,
  2.618792310440981,
  0.19894048213784934,
  0.3304278393939083,
  1.8322035788431728,
  19.673679126697426,
  3.7688744681679367,
  1.3633222505058067,
  2.2819391431903857,
  2.306954694124449,
  1.8274175827677264,
  1.091102067526306,
  2.832954181217714,
  1.6686747941808902,
  17.75839043604429,
  1.9576900484096167,
  3.415040228694039,
  2.4622091962291246,
  4.853756737346077,
  1.6529252748421115,
  1.5413396113527862,
  0.28244351267999535,
  0.3020679127668653,
  3.346631641643808,
  1.7606943011336609,
  3.139250766330262,
  3.872736444559146,
  4.407486781252633,
  1.8905240400397483,
  1.8740618511892433,
  8.97570910450477,
  1.799883858876658,
  0.587366915090546,
  1.3393957014816966,
  2.2482343020777122,
  1.3019581001219147,
  7.306546557347954,
  3.187051515886813,
  2.554720292206146,
  20.147426413973943,
  2.0582569891806703,
  1.7177306726939017,
  4.837080583784618,
  0.6885404475283047,
  0.64960234844245,
  2.4052535970206876,
  3.4840152740513792,
  4.280940241048965,
  2.3557352418708666,
  1.5315362882255648,
  1.190788245597254,
  4.322986848097216,
  3.5612934764096438,
  0.5886464611815914,
  1.7126578720387644,
  18.769124087439508,
  1.6040014019640378,
  2.272252468891587,
  1.0956200356345334,
  5.010077199425836,
  10.546167752667216,
  5.219433345029556,
  3.419951000957072,
  3.87521132595955,
  0.09722767845720287,
  0.7258497882130953,
  0.5204765142190737,
  3.7539485021132535,
  4.135207434353824,
  0.6946336898351299,
  2.3064871823178152,
  1.3155247756620865,
  1.5768961348828872,
  6.138183192063493,
  4.683456672349237,
  2.1153336235003177,
  8.231519655657783,
  0.8844992826227259,
  3.8353834482797513,
  13.112911155104435,
  1.7302765732930783,
  1.0121392411230752,
  3.177819846918013,
  1.9456163000021929,
  0.8478571758988023,
  1.2708960821124262,
  1.340021922391918,
  1.4575962087972973,
  2.2905058525094635,
  8.289208609509481,
  0.9270124275639315,
  2.867517194209632,
  2.046026021255998,
  0.2400276817912843,
  3.6877507184165466,
  2.0176444181541227,
  1.0092834746498425,
  1.491353562467005,
  1.523456256949441,
  3.6204529380309802,
  4.909896666293845,
  1.1664566587541678,
  3.9533988709571726,
  0.0,
  1.022422590106854,
  1.3948429304821195,
  0.8183787895898328,
  1.2291724307067842,
  0.6503451167148818,
  2.0495089318098505,
  4.476849175843384,
  0.36757245866019833,
  2.2559269745196047,
  1.2731563846396912,
  1.5421192331668139,
  2.7725764214476794,
  2.999477489782732,
  0.514945204920199,
  0.47151799139109674,
  1.1551448557314556,
  2.362964983753904,
  1.8224302783850495,
  0.7319170303915038,
  11.779403775401072,
  1.1687452294990797,
  4.284023418095838,
  2.1381277377843566,
  1.943718302269952,
  3.22628111530415,
  4.822356157321399,
  12.119542047898706,
  14.03323314041993,
  2.473624740466467,
  3.921515953197852,
  1.0819684068672253,
  1.9079086408991122,
  0.976460641340881,
  6.308489694448849,
  6.662705736724975,
  2.165567794050125,
  5.3546064755067535,
  8.570784192012392,
  1.4964887903820727,
  2.0515826852761596,
  2.011695507978267,
  1.678428315232424,
  1.0140702255974952,
  2.44383453570236,
  0.6286512654499319,
  3.8202956666517593,
  3.8642354439847972,
  1.8666284424930075,
  10.185642133610258,
  4.724180262463868,
  1.144041297292153,
  4.946354515637021,
  2.3843614483801416,
  3.599674374960258,
  1.7954802361285374,
  0.9242692763854657,
  4.8624010404953735,
  1.782480052538579,
  1.6194953060100785,
  4.367905214473286,
  4.344682392680684,
  7.626575922316513,
  1.3290881646102695,
  3.2115155909182267,
  0.7384056554556563,
  1.3957756728024553,
  0.9565352299252946,
  1.1097933256854744,
  4.951107193603247,
  4.985385100846498,
  0.6482205819231733,
  4.655400787222403,
  2.3106967078350165,
  3.0549626343342506,
  2.8080191016296445,
  16.181926955951376,
  2.6154459111510096,
  10.205920414688576,
  1.8429581342358234,
  1.5764453572236143,
  6.516310957171458,
  1.3805104071867904,
  1.7702469491241946,
  4.323316346709321,
  1.2991213573011469,
  6.8825013151532595,
  2.5167833103099433,
  6.550939884438659,
  3.2154948909077192,
  0.7108459776370146,
  2.408270736984789,
  2.6393030381641664,
  3.0049153964894093,
  1.1541748660736708,
  3.7944766690662384,
  5.727180611934501,
  1.0989861588622944,
  1.4302195980892705,
  3.8356373774546952,
  5.624613117696435,
  21.854753716178564,
  2.325810411622815,
  3.177456278395262,
  1.8659945996099843,
  2.9625567978557203,
  3.4229356353283884,
  2.524550321808311,
  3.39560571918488,
  0.8078928436030948,
  1.263382449480999,
  5.290735334904735,
  0.5326906554615639,
  3.7622841677910253,
  19.192228880288443,
  6.6853708429822145,
  6.772481805685904,
  0.5591407730115218,
  0.8595974982059903,
  2.4423957395682208,
  2.8165950552108985,
  0.6635094526157583,
  1.5295410440509596,
  2.813163586313415,
  2.412284038984158,
  14.120852897883267,
  1.6698331376059299,
  2.3120036313540924,
  5.063900613484863,
  2.284931647601552,
  2.178869304527073,
  1.7799218779522767,
  2.026961988672329,
  4.929193065254534,
  1.768835143624249,
  3.54867091693949,
  1.9300852103444175,
  2.8968632611535723,
  11.967761451412814,
  1.736772504854218,
  3.1754888493424973,
  21.607428822176193,
  3.3463797294119435,
  2.801258863301028,
  0.7785260365613095,
  1.0547529538144205,
  19.72585431461293,
  1.1059921329025415,
  1.329252479276583,
  1.0961852316314769,
  1.127992261372767,
  0.07302953278812581,
  7.137819926631536,
  1.5233924965291818,
  2.1380960467159786,
  1.2182015977207052,
  4.886856909908426,
  2.056203431377326,
  1.5951133194195104,
  1.5307369339144998,
  1.4411607642835886,
  2.973911863970118,
  1.90451599205701,
  2.437423838866076,
  1.5233494022229972,
  2.1124687492449947,
  0.42561132326447604,
  1.2867263988375846,
  7.28419946562073,
  3.9530437711849444,
  0.4550784259723149,
  3.178362927441992,
  15.63714213031718,
  1.1822637997789354,
  1.004193584553029,
  7.059972996897886,
  3.481582253010264,
  2.210737139543084,
  4.778162969205751,
  11.330220705580876,
  14.576583279889281,
  2.6627213034550867,
  20.922801751221442,
  5.551780351877897,
  1.0127186595267503,
  1.2235874413554009,
  1.409625773037118,
  1.7806691068284513,
  1.8863405160283355,
  7.286935429537243,
  5.525826234787888,
  1.2370640280080754,
  0.7540229661588791,
  0.20204626920832838,
  7.976070160891661,
  3.3820335570146023,
  6.538330054320663,
  2.4274156123214095,
  9.044502460280697,
  2.491825744306207,
  1.5001390175942693,
  2.3141221259051754,
  1.5023484577228685,
  2.8711202088685512,
  1.302775287698443,
  0.6673028443843584,
  2.701843383018777,
  4.600710677516498,
  2.00576525241468,
  2.126929613239184,
  2.04608532441333,
  0.6364449726666692,
  6.4818473848709095,
  3.3285134022552834,
  2.058818228005684,
  19.18432576075241,
  2.0017240782355854,
  0.3966894232059133,
  1.8756164043349073,
  0.7271499901172221,
  2.0819927273937937,
  3.5480452478391764,
  1.827870484550139,
  2.294548886357316,
  4.874046272361709,
  9.643308778876747,
  0.0,
  4.597854768828836,
  3.582224907634123,
  3.4324278248787934,
  0.9302084151289481,
  0.6820458898769542,
  1.7056001194544685,
  4.844669036004222,
  1.5530652415244075,
  1.0091433291151832,
  1.8229584551703317,
  2.8524288747394353,
  0.49252003436803293,
  15.340340616109955,
  1.2701606505770675,
  3.3272625003287417,
  3.964417161088414,
  1.5496745349339487,
  5.164112541119703,
  2.238334207270947,
  3.807520877863458,
  3.0420995112987668,
  3.4447727145078297,
  2.0256611459427094,
  2.9254440387808565,
  2.341586631037626,
  1.8571538540474328,
  0.6108260673549814,
  0.8038468348079543,
  3.311951870070843,
  0.9208346274248962,
  3.5375987033264504,
  3.407795971980573,
  1.287317016522726,
  0.30990742489196377,
  21.181272506853386,
  2.8392714841977074,
  0.0,
  4.835799150587956,
  7.5031076615930745,
  1.6233300507970971,
  1.3401640600102562,
  3.071928916123924,
  8.24206529419417,
  5.4276426566214315,
  2.4771198978950513,
  14.269182446861898,
  1.882277942082823,
  17.608691130402814,
  2.7593200139365206,
  2.769935642288235,
  19.33607999582396,
  1.0259738119626394,
  1.0311322690900144,
  1.3850506517058332,
  0.6888348943076693,
  1.127651708640151,
  1.966710715900043,
  1.1431214919348565,
  1.3533047863436127,
  6.355757857863768,
  1.0355749877524512,
  5.572716410676126,
  5.785142195357296,
  2.089360083023059,
  5.5999879363840135,
  7.177680310096103,
  2.8293967474848163,
  2.0221369834176532,
  4.075086116681803,
  1.693221775566526,
  1.767402834419264,
  3.2928347425897124,
  0.6336936580838698,
  0.614374279178163,
  0.9368642613694057,
  5.411183828855435,
  6.401969514065216,
  2.336095925933544,
  6.68580730653296,
  5.411443282859923,
  2.228835424138835,
  1.3678456336181413,
  2.8132168015509156,
  2.2605737255307674,
  1.5450650685213336,
  5.6000694630874746,
  1.523656547390077,
  17.570276680148176,
  0.7465144257362011,
  5.017406466408216,
  4.563734242320774,
  2.8936886438898797,
  2.1291672708871503,
  0.9865956788126359,
  0.40517116987756385,
  1.8085505309720764,
  2.984001015926011,
  3.330538919367069,
  0.7727773151192737,
  0.5723425257602299,
  2.733601147003143,
  5.371406735568899,
  1.718565819537898,
  7.796303447484673,
  6.781054835297051,
  1.424341416016806,
  1.6015576324792427,
  2.236803434685445,
  2.985537565383957,
  2.13864512982973,
  3.528136453547043,
  1.7653453133578885,
  0.9104944783781047,
  1.3847955417356026,
  4.581063359917265,
  2.103741997219422,
  4.53314996015132,
  1.3896090988011078,
  0.7570716980788522,
  5.134475645647151,
  4.941389541347359,
  3.6241910584337664,
  0.291446727192255,
  1.8400672082375162,
  1.8218977543565478,
  5.742915550404749,
  2.0882141483929733,
  1.5785460824189927,
  2.2673514869089835,
  2.129006637951757,
  2.440025562749551,
  2.140265407601685,
  2.710948307798518,
  1.7355932493474842,
  2.4531503822297354,
  1.9348198214773262,
  2.0521139255051097,
  0.6813796110256527,
  3.262496095442837,
  1.4375534451145218,
  1.242217623432632,
  2.228488380214288,
  2.7427392068267795,
  1.399045753289659,
  0.7546021842838372,
  1.9215684692108657,
  3.2718462265489894,
  1.0208255616912036,
  0.8021556940503568,
  5.380558678358931,
  1.180130865129231,
  1.754766336631544,
  0.7411068353449995,
  2.414934904276172,
  0.9570402833151035,
  1.3546630416661913,
  3.2401974886727447,
  4.672815275640579,
  0.6777185553021592,
  7.825982151986737,
  1.2307505843455346,
  1.5752535896365945,
  0.0006873664881072382,
  1.021575577114762,
  0.26797029071025696,
  1.4930514855473696,
  1.7423823883725271,
  1.4661879451483912,
  2.112742724525678,
  6.31126585016242,
  5.401529611046152,
  4.857026441476108,
  4.406072903486711,
  1.9893902944755675,
  1.1967717240008093,
  7.395764507095213,
  9.3825645297523,
  0.9290233934838664,
  4.706307984398527,
  0.36563648922390735,
  3.8056673729589865,
  32.85701304005876,
  4.754548728251812,
  2.1022332826503933,
  1.778330918160597,
  1.2447695874228972,
  1.9671184893583298,
  0.04499589057106303,
  0.6827426387985961,
  1.733649407771784,
  0.7426372563346104,
  4.947681295154091,
  1.2603426872453158,
  2.3480313242083235,
  11.29149201606273,
  9.980538409732782,
  6.816073746518252,
  3.633113534478883,
  2.3733894736671837,
  1.2393092372040944,
  7.498417201501278,
  3.873015803428464,
  0.38952799997240606,
  1.5781645029973017,
  1.4747048467289892,
  2.2069567354907984,
  4.0130971336132415,
  2.446941500543572,
  0.001147874866228803,
  2.164156876374471,
  4.229378931409195,
  1.6634559373225077,
  3.2077058728465406,
  6.196103778147063,
  4.735765936593299,
  1.7067551732329302,
  2.3403654064785595,
  1.1528413336783019,
  19.56368654212575,
  1.9907220781005885,
  3.5193107496555966,
  3.7925391886036226,
  2.9523280792515085,
  2.2285588993831253,
  2.4900250525321437,
  12.260939792320464,
  1.7220771528414531,
  0.3506661783907211,
  5.06863083960423,
  4.0856890282262865,
  6.642720535738331,
  2.947968820411301,
  1.9417377907593703,
  1.1479351151148494,
  1.4250926678796576,
  3.2420226915221613,
  1.4840489912450978,
  0.7924139183437205,
  8.825579424900214,
  0.7768585572340191,
  0.5751225348815457,
  1.5576447480250528,
  9.605292938383469,
  1.9961234326608917,
  0.816677392757997,
  2.742304993287492,
  2.1819390167842196,
  1.6417881031600638,
  6.603904900056149,
  0.8434346686106936,